body{
    text-align: center;
    background-color: #8b008b;
    font-family: 'Arial';
    color: #f0f8ff;
}

h1{
    border: 1px solid #f0f8ff;
    padding: 10px;
    margin-bottom: 40px;
}
button{
    color: rgb(255, 255, 255);
    background-color:rgb(81, 139, 239);
    border-radius: 8px;
    width: 150px;
    height: 35px;
    cursor: pointer;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}